body {
    background: #121212;
}

$txtColor: white;

.menu {
    .logo {
        color: $txtColor;
    }

    .links {
        ul {
            li {
                display: inline-block;
                list-style: none;
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: $txtColor;
                }
            }
        }
    }
}

section.one {
    .row {
        a {
            background: #44BAFF;
            padding: 13px 40px;
        }
    }
}

// template color = #BB86FC Purple   #44BAFF Blue;